################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TaxiGestion
/TaxiGestion/bin/Debug/netcoreapp3.0
