
<div fxLayout="column">
    <div class="flex-p">
        <kendo-buttongroup style="float: right;">
            <button kendoButton [icon]="'plus'" [primary]="true" style="float: right;" (click)="btnClickNouvelleEcritureSimple();">Nouvelle écriture simple</button>
            <button kendoButton [icon]="'plus'" [primary]="true" style="float: right;" (click)="btnClickNouvelleEcritureCollective();">Nouvelle écriture collective</button>
            <button kendoButton [icon]="'delete'" [primary]="true" style="float: right;" (click)="btnClickEffacerTout();">Effacer tout</button>
        </kendo-buttongroup>
    </div>
</div>
        