<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayout.gt-sm="row wrap"> 
        <div fxFlex="30" class="flex-p"> 
            <mat-card>
                <mat-card-header fxLayoutAlign="center">                
                    <mat-card-subtitle><h2>Date d'écriture</h2></mat-card-subtitle>
                </mat-card-header>
                <br />
                <mat-card-content fxLayoutAlign="center">
                    <input-date-ecriture-form-field 
                        [formGroup]="form.get('dateEcriture')" 
                        fbDateEcriture="dateEcriture"
                        [touch]="swTouch"
                        class="w-100"
                    ></input-date-ecriture-form-field>
                </mat-card-content>
            </mat-card>
            <br />
            <mat-card>
                <mat-card-header fxLayoutAlign="center">                
                    <mat-card-subtitle><h2>Montant CHF</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">
                    <input-montant-form-field 
                        [formGroup]="form.get('montant')" 
                        fbMontant="montant"
                        [touch]="swTouch"
                        class="w-100"
                    ></input-montant-form-field>
                </mat-card-content>
            </mat-card>
            <br />
            <mat-card>
                <mat-card-header fxLayoutAlign="center">                
                    <mat-card-subtitle><h2>Pièce</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">
                    <input-piece-form-field 
                        [formGroup]="form.get('piece')" 
                        fbNoPiece="noPiece"
                        fbDatePiece="datePiece"
                        [touch]="swTouch"
                        class="w-100"
                    ></input-piece-form-field>
                </mat-card-content>
            </mat-card>
        </div> 
        <div fxFlex="35" class="flex-p">  
            <mat-card>
                <mat-card-header fxLayoutAlign="center">                
                    <mat-card-subtitle><h2>Débit</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center" class="flexbox">
                    <input-no-compte-form-field 
                        [formGroup]="form.get('compteDebit')" 
                        fbNoCompte="noCompteDebit"
                        fbCompte="compteDebit"
                        [planComptable]="planComptable"
                        [touch]="swTouch"
                        class="w-100"
                    ></input-no-compte-form-field>
                    <div class="new-row"></div>
                    <input-libelle-form-field
                        [formGroup]="form.get('libelleDebit')"
                        fbLibelle1="libelle1Debit"  
                        fbLibelle2="libelle2Debit"
                        [touch]="swTouch"
                        (output)="libelleDebitBlur($event)"
                        class="w-100"  
                    >
                    </input-libelle-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="35" class="flex-p">  
            <mat-card>
                <mat-card-header fxLayoutAlign="center">                
                    <mat-card-subtitle><h2>Crédit</h2></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center" class="flexbox">
                    <input-no-compte-form-field 
                        [formGroup]="form.get('compteCredit')" 
                        fbNoCompte="noCompteCredit"
                        fbCompte="compteCredit"
                        [planComptable]="planComptable"
                        [touch]="swTouch"
                        class="w-100"
                    ></input-no-compte-form-field>
                    <div class="new-row"></div>
                    <input-libelle-form-field
                        [formGroup]="form.get('libelleCredit')"
                        fbLibelle1="libelle1Credit"  
                        fbLibelle2="libelle2Credit"
                        [touch]="swTouch"
                        (output)="libelleCreditBlur($event)"
                        class="w-100"  
                    >
                    </input-libelle-form-field>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column">
        <div class="flex-p">
            <button kendoButton [icon]="'plus'" [primary]="true" style="float: right;" type="submit">Ajouter écriture</button>
        </div>
    </div>
</form>
