.noCompteSize {
    min-width: 75px;
    max-width: 75px;
    width: auto !important;
}
.noCompteMatIcon {
    cursor: pointer;
    vertical-align: middle;
}

.libelleMatIcon {
    cursor: pointer;
    vertical-align: middle;
}
::ng-deep  {
    @media screen and (min-width: 1920px) {
        .cdk-overlay-pane {
            min-width: 500px;
        }
    }
    @media screen and (min-width: 1366px) {
        /* Do you changes here */
        .cdk-overlay-pane {
            min-width: 350px;
        }
    }
}
