.noCompteSize {
    min-width: 75px;
    max-width: 75px;
    width: auto !important;
}
.noCompteMatIcon {
    cursor: pointer;
    vertical-align: middle;
}

.noCompteMatIcon:active {
    border-radius: 50%;
    background-color: #e1e1e1 !important;
}

.libelleMatIcon {
    cursor: pointer;
    vertical-align: middle;
}

.libelleMatIcon:active {
    border-radius: 50%;
    background-color: #e1e1e1 !important;
}

.montantMatIcon {
    cursor: pointer;
    vertical-align: middle;
}

.montantInput {
    text-align: right;
}

::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
    min-width: 350px;
}