<mat-sidenav-container>
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <button mat-fab color="default" class="mat-elevation-z12" (click)="btnLogin()">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header">Confirmation de votre e-mail</span> 
                        <br />
                        <span>{{ item.prenomNom }}, votre e-mail a été confirmé et votre compte validé.<br/><br />Vous pouvez vous connecter <a routerLink="/login">ici</a>.</span>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-sidenav-container>
