.noPieceMatIcon {
  cursor: pointer;
  vertical-align: middle;
}

.noPieceMatIcon:active {
  border-radius: 50%;
  background-color: #e1e1e1 !important;
}

.noPieceSize {
  min-width: 75px;
  max-width: 75px;
  width: auto !important;
}
